html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: "Roboto", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-red {
  color: #f44336;
}

.container {
  max-width: 1400px;
}

.bg-opaque {
  background-color: rgba(255, 255, 255, 0.9);
}

.collapse-div {
  margin-bottom: 1rem;
  /* padding: 10px; */
}

.collapse-content {
  margin-top: .5rem;
}

.collapse-card {
  /* background: none; */
  border-style: solid;
  border-radius: none;
  outline-style: none;
}

.collapse-btn {
  display: flex;
  width: 100%;
  background: none;
  border-style: none;
  outline: none;
  color: rgb(110, 110, 110);
  outline-style: none;
  padding: none;
  text-align: left;
}

.collapse-btn-spc {
  flex: 1;
}
