/* hr {
    margin: 0px 15px
} */

.content {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.container {
    max-width: 1280px;
}

.bg-opaque {
    background-color: rgba(255, 255, 255, 0.9);
}

.section-one {
    max-width: 450px;
}

.section-two {
    width: 100%;
}

.my-img {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
}

.fa-bullet {
    color: red;
    margin-right: 10px;
}

.fluent-lang {
    background-color: red;
    color: white;
    width: 100%;
    border-radius: 15px;
    text-align: center;
}

.about-me-bullets {
    margin: 0px 15px 0px 15px;
}

.about-me-bullets a {
    color: red;
}

.collapse-div {
    outline-style: auto;
    margin-bottom: 10px;
}

.collapse-btn {
    width: 100%;
    background: none;
    border-style: none;
    outline: none;
    color: rgb(110, 110, 110);
    outline-style: none;
    padding: none;
}

.collapse-btn h5 {
    margin-top: .5rem;
}

@media (max-width: 768px) {
    .content {
        display: block;
    }
    hr {
        margin: none;
    }
}