.bg-opaque {
    background-color: rgba(255, 255, 255, 0.9);
}

.section-one {
    max-width: 400px;
}

.section-two {
    widows: 100%;
}

.my-img {
    margin-top: 15px;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
}

.fa-bullet {
    color: red;
    margin-right: 10px;
}

.fluent-lang {
    background-color: red;
    color: white;
    width: 100%;
    border-radius: 15px;
    text-align: center;
}

#about-me-bullets a {
    color: red;
}